# Risk Scoring & Underwriting
Risk Scoring and Underwriting are critical components in the financial and insurance industries, particularly in the evaluation and management of risk associated with lending, insurance policies, or other financial products.
## 1. Data Integration & Exploration

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import logging
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [2]:
# Define a class
class ARDPreprocessor:
    """
    Automated Risk Data (ARD) Preprocessing Module
    Handles missing values, encodes categorical variables, and scales numerical features.
    """
    # Constructor method to initialize the class
    def __init__(self, num_strategy='median', cat_strategy='most_frequent', scaler=StandardScaler(), encoder=OneHotEncoder(handle_unknown='ignore')):
        self.num_imputer = SimpleImputer(strategy=num_strategy)
        self.cat_imputer = SimpleImputer(strategy=cat_strategy)
        self.scaler = scaler
        self.encoder = encoder
        self.preprocessor = None

        # Configure logging to display messages at the INFO level and above
        logging.basicConfig(level=logging.INFO)

    # Define a fit method to fit the preprocessing pipeline to the input data
    def fit(self, df, numeric_features, categorical_features):
        # Begin a try block to handle potential errors during fitting
        try:
            # Create a Pipeline for numeric features
            numeric_pipeline = Pipeline([
                ('imputer', self.num_imputer),
                ('scaler', self.scaler)
            ])
            # Create a Pipeline for categorical features
            categorical_pipeline = Pipeline([
                ('imputer', self.cat_imputer),
                ('encoder', self.encoder)
            ])
            # Combine the numeric and categorical pipelines into a single preprocessing object
            self.preprocessor = ColumnTransformer([
                ('num', numeric_pipeline, numeric_features),
                ('cat', categorical_pipeline, categorical_features)
            ])
            # Fit the ColumnTransformer to the input DataFrame df
            self.preprocessor.fit(df)
            logging.info("Preprocessor fitted successfully.")
        except Exception as e:
            logging.error(f"Error during fitting: {e}")
            raise

    # Apply the fitted preprocessing pipeline to transform the input data
    def transform(self, df):
        try:
            transformed_data = self.preprocessor.transform(df)
            feature_names = self.preprocessor.get_feature_names_out()
            return pd.DataFrame(transformed_data, columns=feature_names)
        except Exception as e:
            logging.error(f"Error during transformation: {e}")
            raise

    # Combine fitting and transformation into a single method
    def fit_transform(self, df, numeric_features, categorical_features):
        self.fit(df, numeric_features, categorical_features)
        return self.transform(df)

The `ARDPreprocessor` class is a modular and reusable preprocessing module.

- It handles missing values, scales numeric features, and encodes categorical features.

- It uses `Pipeline` and `ColumnTransformer` for a clean and consistent workflow.

- It includes error handling and logging for robustness.

- The `fit_transform` method provides a convenient way to fit and transform data in one step.

Here's a breakdown of the steps:

1. Fitting:

- The `SimpleImputer` learns the mean (or other specified statistic) of the numeric features.

- The `StandardScaler` computes the mean and standard deviation of the numeric features.

2. Transformation:

- The `SimpleImputer` replaces missing values with the learned mean.

- The `StandardScaler` standardizes the features using the computed mean and standard deviation.

In [3]:
# Load and combine multiple datasets
file_paths = ['application_record.csv', 'credit_record.csv']
dfs = [pd.read_csv(file) for file in file_paths]

# Concatenate DataFrames into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

This code snippet loads and combines multiple datasets from the specified file paths.

In [5]:
# Feature Engineering
df['income_log'] = np.log1p(df['AMT_INCOME_TOTAL'].replace(0, np.nan))  # Replace zero values before log transformation
df['age_years'] = (-df['DAYS_BIRTH']) // 365
df['employment_length_years'] = (-df['DAYS_EMPLOYED']).clip(lower=0) // 365  # Clip negative values
df['dependents'] = df['CNT_FAM_MEMBERS'] - df['CNT_CHILDREN']
df['has_car_property'] = ((df['FLAG_OWN_CAR'] == 'Y') | (df['FLAG_OWN_REALTY'] == 'Y')).astype(int)

In [6]:
# Creating Target Variable
def classify_risk(status):
    high_risk = {'2', '3', '4', '5'}
    low_risk = {'C', 'X', '0', '1'}
    return 1 if status in high_risk else 0

df['risk_flag'] = df['STATUS'].astype(str).apply(classify_risk)
logging.info("Target variable 'risk_flag' created based on STATUS")

In [9]:
# Check the shape of the dataset (rows, columns)
print("Dataset shape (rows, columns):\n", df.shape)

# Get dataset information (column names, non-null counts, data types)
print("Dataset Info:\n")
df.info()

# Display first 5 rows
print("\nFirst 5 rows:\n", df.head())

# Summary statistics for numerical columns
print("Summary statistics:\n", df.describe())

# Check for missing values in numerical columns
print("Missing values in numerical columns:\n", df.isnull().sum())

Dataset shape (rows, columns):
 (1487132, 26)
Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1487132 entries, 0 to 1487131
Data columns (total 26 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   ID                       1487132 non-null  int64
 1   CODE_GENDER              438557 non-null   object
 2   FLAG_OWN_CAR             438557 non-null   object
 3   FLAG_OWN_REALTY          438557 non-null   object
 4   CNT_CHILDREN             438557 non-null   float64
 5   AMT_INCOME_TOTAL         438557 non-null   float64
 6   NAME_INCOME_TYPE         438557 non-null   object
 7   NAME_EDUCATION_TYPE      438557 non-null   object
 8   NAME_FAMILY_STATUS       438557 non-null   object
 9   NAME_HOUSING_TYPE        438557 non-null   object
 10  DAYS_BIRTH               438557 non-null   float64
 11  DAYS_EMPLOYED            438557 non-null   float64
 12  FLAG_MOBIL               438557 non-null   float64
 13  FLAG_WORK_PHONE          438557 non-null   float64
 14  FLAG_PHONE               438557 non-null   float64
 15  FLAG_EMAIL               438557 non-null   float64
 16  OCCUPATION_TYPE          304354 non-null   object
 17  CNT_FAM_MEMBERS          438557 non-null   float64
 18  MONTHS_BALANCE           1048575 non-null  float64
 19  STATUS                   1048575 non-null  object
 20  income_log               438557 non-null   float64
 21  age_years                438557 non-null   float64
 22  employment_length_years  438557 non-null   float64
 23  dependents               438557 non-null   float64
 24  has_car_property         1487132 non-null  int64
 25  risk_flag                1487132 non-null  int64
dtypes: float64(14), int64(3), object(9)
memory usage: 295.0+ MB

First 5 rows:
         ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0  5008804           M            Y               Y           0.0
1  5008805           M            Y               Y           0.0
2  5008806           M            Y               Y           0.0
3  5008808           F            N               Y           0.0
4  5008809           F            N               Y           0.0

   AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0          427500.0               Working               Higher education
1          427500.0               Working               Higher education
2          112500.0               Working  Secondary / secondary special
3          270000.0  Commercial associate  Secondary / secondary special
4          270000.0  Commercial associate  Secondary / secondary special

     NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  ...  OCCUPATION_TYPE  \
0        Civil marriage   Rented apartment  ...              NaN
1        Civil marriage   Rented apartment  ...              NaN
2               Married  House / apartment  ...   Security staff
3  Single / not married  House / apartment  ...      Sales staff
4  Single / not married  House / apartment  ...      Sales staff

   CNT_FAM_MEMBERS  MONTHS_BALANCE  STATUS  income_log  age_years  \
0              2.0             NaN     NaN   12.965712       32.0
1              2.0             NaN     NaN   12.965712       32.0
2              2.0             NaN     NaN   11.630717       58.0
3              1.0             NaN     NaN   12.506181       52.0
4              1.0             NaN     NaN   12.506181       52.0

  employment_length_years  dependents  has_car_property risk_flag
0                    12.0         2.0                 1         0
1                    12.0         2.0                 1         0
2                     3.0         2.0                 1         0
3                     8.0         1.0                 1         0
4                     8.0         1.0                 1         0

[5 rows x 26 columns]
Summary statistics:
                  ID   CNT_CHILDREN  AMT_INCOME_TOTAL     DAYS_BIRTH  \
count  1.487132e+06  438557.000000      4.385570e+05  438557.000000
mean   5.349590e+06       0.427390      1.875243e+05  -15997.904649
std    5.357864e+05       0.724882      1.100869e+05    4185.030007
min    5.001711e+06       0.000000      2.610000e+04  -25201.000000
25%    5.041508e+06       0.000000      1.215000e+05  -19483.000000
50%    5.096808e+06       0.000000      1.607805e+05  -15630.000000
75%    5.343692e+06       1.000000      2.250000e+05  -12514.000000
max    7.999952e+06      19.000000      6.750000e+06   -7489.000000

       DAYS_EMPLOYED  FLAG_MOBIL  FLAG_WORK_PHONE     FLAG_PHONE  \
count  438557.000000    438557.0    438557.000000  438557.000000
mean    60563.675328         1.0         0.206133       0.287771
std    138767.799647         0.0         0.404527       0.452724
min    -17531.000000         1.0         0.000000       0.000000
25%     -3103.000000         1.0         0.000000       0.000000
50%     -1467.000000         1.0         0.000000       0.000000
75%      -371.000000         1.0         0.000000       1.000000
max    365243.000000         1.0         1.000000       1.000000

          FLAG_EMAIL  CNT_FAM_MEMBERS  MONTHS_BALANCE     income_log  \
count  438557.000000    438557.000000    1.048575e+06  438557.000000
mean        0.108207         2.194465   -1.913700e+01      12.024116
std         0.310642         0.897207    1.402350e+01       0.474939
min         0.000000         1.000000   -6.000000e+01      10.169729
25%         0.000000         2.000000   -2.900000e+01      11.707678
50%         0.000000         2.000000   -1.700000e+01      11.987802
75%         0.000000         3.000000   -7.000000e+00      12.323860
max         1.000000        20.000000    0.000000e+00      15.725053

           age_years  employment_length_years     dependents  \
count  438557.000000            438557.000000  438557.000000
mean       43.326489                 5.536081       1.767075
std        11.467500                 6.496641       0.423751
min        20.000000                 0.000000      -2.000000
25%        34.000000                 1.000000       2.000000
50%        42.000000                 4.000000       2.000000
75%        53.000000                 8.000000       2.000000
max        69.000000                48.000000       2.000000

       has_car_property     risk_flag
count      1.487132e+06  1.487132e+06
mean       2.381873e-01  2.087239e-03
std        4.259745e-01  4.563862e-02
min        0.000000e+00  0.000000e+00
25%        0.000000e+00  0.000000e+00
50%        0.000000e+00  0.000000e+00
75%        0.000000e+00  0.000000e+00
max        1.000000e+00  1.000000e+00
Missing values in numerical columns:
 ID                               0
CODE_GENDER                1048575
FLAG_OWN_CAR               1048575
FLAG_OWN_REALTY            1048575
CNT_CHILDREN               1048575
AMT_INCOME_TOTAL           1048575
NAME_INCOME_TYPE           1048575
NAME_EDUCATION_TYPE        1048575
NAME_FAMILY_STATUS         1048575
NAME_HOUSING_TYPE          1048575
DAYS_BIRTH                 1048575
DAYS_EMPLOYED              1048575
FLAG_MOBIL                 1048575
FLAG_WORK_PHONE            1048575
FLAG_PHONE                 1048575
FLAG_EMAIL                 1048575
OCCUPATION_TYPE            1182778
CNT_FAM_MEMBERS            1048575
MONTHS_BALANCE              438557
STATUS                      438557
income_log                 1048575
age_years                  1048575
employment_length_years    1048575
dependents                 1048575
has_car_property                 0
risk_flag                        0
dtype: int64